html {
  font-size: 62.5%; /* 16px is default, 62.5% is 10px= 1rem */
  box-sizing: border-box; /*border-box avoids padding mess in similar sized elements */
}

.body {
  position: relative;
  font-size: 1.6rem;
  background-color: #080002;
  color: white;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

/*jumbo and header styling */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-section {
  display: flex;
  justify-content: center;
  flex: 1 25vw;
}

.name-section {
  display: flex;
  justify-content: center;
  flex: 2 50vw;
}

header menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1vw;
  padding-inline-start: 0px;
}


menu li a {
  text-decoration: none;
  color: white;
  padding-right: 1vw;
}

.name {
  align-self: center;
  font-weight: bold;
}

header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 2vw;
}

header ul li {
  padding: 2vw;
  font-size: 2rem;
}


.border-wrap {
  background: white;
  padding: .25rem;
  border-radius: 100rem;
  display: flex;
  align-items: center;
}

.border-wrap:hover {
  background-image:linear-gradient(60deg, #3e35e8, #b41a63);
}

button { 
  background: #080002;
  font-size: 1.6rem;
  color: white;
  padding: 1rem;
  border-radius: 100rem;
}

button:hover  {
  color: white;
  background-image:linear-gradient(60deg, #3e35e8, #b41a63);
}

.jumbo {
  height: 120vh;
  display: flex;
  justify-content: center;
}

.jumbo img {
  max-height: 100vh;
  padding-top: 10vh;
  width: auto;
  border-radius: 28%;
}

/*about section styles */
#about {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#about img {
  max-width: 35vw;
  height: fit-content;
  padding: 5vw;
  border-radius: 18%;
}

/*projects component styles */
#projects {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*fortune teller styles */
.fortune-container {
  width: 70%;
  margin: auto;
}

.fortune-box {
  position: relative;
  text-align: center;
  display: flex;
  padding: 5%;
  justify-content: center;
  margin-top: 1vh;
  border: .1rem solid white;
  border-radius: 5%;
  margin-bottom: 2.4rem;
}

.background-img {
  max-width: 60%;
  height: auto;
}

.fortune {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 2rem;
  width: 54%;
  background-color: black;
  color: white;
  opacity: 0.8;
}

.btn-box {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.footer {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: row;
  height: 20vh;
  width: 100%;

}

#contact {
  border-right: .1rem solid white;
  padding-left: 2rem;
  width: 50%;
  display: flex;
  align-items: center;
}

#contact ul {
  list-style-type: none;
}

.socials {
  border-left: .1rem solid white;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*alt theme styles */
.alt-body {
  position: relative;
  font-size: 1.6rem;
  background-color: whitesmoke;
  color: darkslategray;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
}

.alt-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

#alt-link {
  text-decoration: none;
  color: darkslategray;
  padding-right: 1vw;
}

.alt-jumbo {
  height: 100vh;
}